

@import "./point.css";
@import "./gap.css";
@import "./tick.css";
@import "./search.css";
@import "./toggle.css";
@import "./annotations.css";

:root {
  --track-label-width: 42px;
}

body, html {
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  margin: 0;
  padding: 0;
  height: 40px;
  background: #F2F2F2;
  border-radius: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-bottom: 37px;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -7px -7px 20px -7px;
}

#toolbar > div {
  margin: 7px;
}

#plot {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: var(--track-label-width);
}

.track {
  position: relative;
  height: 140px;
  display: flex;
  align-items: flex-start;
}

.track-points::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: var(--track-label-width);
  position: absolute;
  left: 0%;
  top: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%) rotate(-90deg);
  background-color: #F2F2F2;
  border-radius: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.track ~ .track {
  align-items: flex-end;
}

.track-points {
  position: relative;
  width: 100%;
} 

#plot {
  position: relative;
}