#chart.selected .annotation::before,
#chart.selected .annotation::after,
#chart.annotations-hide .annotation::before,
#chart.annotations-hide .annotation::after {
  opacity: 0;
}

.annotation::before,
.annotation::after {
  content: '';
  display: block;
  position: absolute;
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: normal;
  font-size: 16rem;
  white-space: nowrap;
  color: #000;
}

.annotation::before,
.annotation::after {
  opacity: 1;
  transition: opacity var(--annotations-animation-duration);
  pointer-events: none;
}

.female .point.annotation.min::before {
  left: calc(50% - 26rem);
  top: calc(100% + 26rem);
  transform: translateX(-50%);
  content: 'Muni with lowest gender gap';
}

.female .point.annotation.max::before {
  left: calc(100% + 7rem);
  bottom: calc(100% + 20rem);
  content: 'Muni with highest gender gap';
}

.female .point.annotation.min::after {
  right: calc(100% + 5rem);
  top: calc(50% + 5rem);
  width: 35rem;
  height: 24rem;
  background: url(../img/arrow-curved.svg) no-repeat center center;
  background-size: contain;
  transform: rotate(110deg);
}

.female .point.annotation.max::after {
  left: calc(100% + 6rem);
  bottom: calc(50% + 3rem);
  width: 35rem;
  height: 24rem;
  background: url(../img/arrow-curved.svg) no-repeat center center;
  background-size: contain;
  transform: rotate(-60deg);
}

.employment #gap-value.annotation::before {
  content: 'Unemployment gap (lower value is preferable*)';
  left: calc(50% + 50rem);
  top: calc(100% + 28rem);
}

.education #gap-value.annotation::before {
  content: 'Gender Gap in Educational Achievement';
  left: calc(50% + 50rem);
  top: calc(100% + 28rem);
}

 #gap-value.annotation::after {
  left: calc(50% + 6rem);
  top: calc(100% + 12rem);
  width: 35rem;
  height: 24rem;
  background: url(../img/arrow-curved.svg) no-repeat center center;
  background-size: contain;
  transform: rotate(0deg);
  color: #000;
}

.gap-edge span.annotation::after {
  width: 35rem;
  height: 24rem;
  background: url(../img/arrow-curved.svg) no-repeat center center;
  background-size: contain;
}

.employment .female .gap-edge span.annotation::before {
  content: 'Female unemployment rate';
  top: calc(100% + 16rem);
  left: calc(100% + 53rem);
}

.education .female .gap-edge span.annotation::before {
  content: 'Percentage of female youth with at least a matric education';
  top: calc(100% + 16rem);
  left: calc(100% + 53rem);
}

.female .gap-edge span.annotation::after {
  top: calc(50% + 5rem);
  left: calc(100% + 10rem);
  transform: rotate(70deg) scale(1, -1);
}

.employment .male .gap-edge span.annotation::before {
  content: 'Male unemployment rate';
  bottom: calc(100% + 16rem);
  right: calc(100% + 45rem);
}

.education .male .gap-edge span.annotation::before {
  content: 'Percentage of male youth with at least a matric education';
  bottom: calc(100% + 16rem);
  right: calc(100% + 45rem);
}


.male .gap-edge span.annotation::after {
  bottom: calc(50% + 15rem);
  right: calc(100% + 5rem);
  transform: rotate(180deg);
}

#name .annotation {
  display: flex;
  align-items: center;
  position: absolute;
}

/* better &  worse annotation for the empolyment graph */

.employment #name .annotation.better {
  left: 25rem;
  top: 50%;
  transform: translate(0, -50%);
}

.employment #name .annotation.better::after {
  position: relative;
  content: 'Better';
  display: block;
  margin-left: 11rem;
}

.employment #name .annotation.better::before {
  content: '';
  position: relative;
  display: block;
  width: 55rem;
  height: 12rem;
  background: url(../img/arrow-straight.svg) no-repeat center center;
  background-size: contain;
}

.employment #name .annotation.worse {
  right: 25rem;
  top: 50%;
  transform: translate(0, -50%);
}

.employment #name .annotation.worse::before {
  position: relative;
  content: 'Worse';
  display: block;
  margin-right: 11rem;
}

.employment #name .annotation.worse::after {
  content: '';
  position: relative;
  display: block;
  width: 55rem;
  height: 12rem;
  background: url(../img/arrow-straight.svg) no-repeat center center;
  background-size: contain;
  transform: scale(-1, 1);
}

/* better &  worse annotation for the education graph */

.education #name .annotation.better {
  right: 25rem;
  top: 50%;
  transform: translate(0, -50%);
}

.education #name .annotation.better::after {
  content: '';
  position: relative;
  display: block;
  width: 55rem;
  height: 12rem;
  background: url(../img/arrow-straight.svg) no-repeat center center;
  background-size: contain;
  transform: scale(-1, 1);
}

.education #name .annotation.better::before {
  position: relative;
  content: 'Better';
  display: block;
  margin-right: 11rem;
}

.education #name .annotation.worse {
  left: 25rem;
  top: 50%;
  transform: translate(0, -50%);
}

.education #name .annotation.worse::before {
  content: '';
  position: relative;
  display: block;
  width: 55rem;
  height: 12rem;
  background: url(../img/arrow-straight.svg) no-repeat center center;
  background-size: contain;
}

.education #name .annotation.worse::after {
  position: relative;
  content: 'Worse';
  display: block;
  margin-left: 11rem;
} 

