@media screen and (max-width: 1050px) {
  #search {
    width: 100% !important;
    flex-grow: 1;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 0.75px !important;
  }

  .female .gap-edge span {
    bottom: 35rem !important;
  }

  .male .gap-edge span {
    top: 35rem !important;
  }
}

@media screen and (max-width: 650px) {
  #youth-toggle,
  #hover-to-interact {
    width: 100%;
  }

  .employment .female .point.annotation.min::before {
    left: calc(50% + 25rem) !important;
  }
  .education .female .point.annotation.min::before {
    left: calc(50% - 5rem) !important;
  }
  .female .point.annotation.max::before {
    left: -50rem !important;
  }

  .female .gap-edge span.annotation::before {
    top: 20rem !important;
    left: calc(100% + 25rem) !important;
    white-space: normal;
  }

  .female .gap-edge span.annotation::after {
    top: calc(100% + 5rem) !important;
    left: calc(50% + 8rem) !important;
    transform: rotate(-10deg) scale(0.8) !important;
  }
 .education .male .gap-edge span.annotation::before{
    font-size: 12rem;
    bottom: 10rem;

  }
  .education .female .gap-edge span.annotation::before{
    font-size: 12rem;
    top:-10rem !important;
  }

  #gap-value.annotation::before {
    top: calc(100% + 5rem) !important;
    left: calc(100% + 15rem) !important;
    white-space: normal;
    width: 150rem;
  }
  .education #gap-value.annotation::before {
    bottom: 0rem !important;
    top: calc(100% + 15rem) !important;
}

  #gap-value.annotation::after {
    left: 50% !important;
    top: calc(100% + 8rem) !important;
    transform: rotate(0deg) scale(0.8) !important;
  }

  .male .gap-edge span.annotation::before {
    right: calc(100% + 45rem);
    white-space: normal;
  }

  .education .male .gap-edge span.annotation::before{
    right: calc(100% + 35rem);
    font-size: 12rem;
    bottom: 10rem;
  }

  .male .gap-edge span.annotation::after {
    bottom: calc(50% + 15rem);
    right: calc(100% + 5rem);
    transform: rotate(180deg);
  }


  #name .annotation.worse::after,
  #name .annotation.better::before {
    width: 30rem !important;
  }
 
  .education #name .annotation.worse::before,  
  .education #name .annotation.better::after{
    width: 30rem !important;
  }
}

